body {
  padding: 30px 30px 30px 30px;
}

footer {
  background-color: #efefef;
  padding: 1em 2em;
}

#main-title {
  text-align: center;
}
#menu-list button {
  width: 200px;
  padding: 0.8em 0.5em;
  border-radius: 1px;
  background-color: #42be24;
  font-size: 1em;
  color: #f0f0f0;
  border-style: hidden;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
    no-repeat 95% #eeeeee;
  width: 150px;
  padding: 0.8em 0.5em;
  font-family: inherit;
  border-radius: 5px;
}
