#formContainer button {
  width: 70px;
  padding: 0.8em 0.5em;
  border-radius: 5px;
  background-color: #ffffff;
}

#charts {
  margin-top: 30px;
  margin-bottom: 30px;
}
#formContainer {
  margin-bottom: 30px;
}
